@model IEnumerable<Bill>
    <h4>Services Enabled</h4>
    <hr />
<dl class="row">
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Service Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
            @foreach(Bill charge in Model)
            {
                <tr>
                    <td>@charge.Title</td>
                    <td>@charge.Amount</td>
                </tr>
            }
        </tbody>
        </table>
</dl>
