@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Billing</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/Scripts/webanalytics.js" type="text/javascript"></script>
</head>
<body>
    <partial name="_Header"/>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <!-- you can use this for a general puprose loading spinner -->
            <div id="loading-card">
            <div class="overlay"></div>
            <div class="spanner">
                <div class="loader"></div>
                <p>Loading...</p>
            </div>
            </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css" integrity="sha384-nV9wiMkeXf7YIDKlnL/B+OIA6E26UftW/uZBNdF5VcRJ4wHdfql/IBIRaUsOls5d" crossorigin="anonymous" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
