
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Billing</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div id="header" class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="container-fluid">
            <div class="row" id="header-top">
                <div class="content" style="padding-right:20px !important;">
                    <div id="logo" role="banner">
                        <a id="headerBCGov" href="http://gov.bc.ca">
                            <img id="BCGov-logo" src="/assets/gov3_bc_logo.png" alt="Government of B.C." title="Government of B.C." class="granville-bridge-on">
                            <img id="BCGov-logo-granville" src="/assets/BCID_White_Small.png" alt="Government of B.C." class="granville-bridge-off">
                        </a>
                    </div>
                    <nav class="navbar-dafault">
                        <div type="button" class="btn btn-link mini-menu-container-trigger navbar-toggle" data-toggle="collapse" data-target="#mini-menu-container">
                            <i id="hamburger-button" class="fa fa-bars fa-customized" aria-hidden="true"></i>
                            <i id="close-hamburger-button" class="fa fa-times fa-customized hidden" aria-hidden="true"></i>
                        </div>
                    </nav>
                    <div class="navbar-default" role="search">
                        <div type="button" class="btn btn-link mini-search-container-trigger navbar-toggle" data-toggle="collapse" data-target="#mini-search-container">
                            <i id="search-button" class="fa fa-search fa-customized" aria-hidden="true"></i>
                            <i id="close-search-button" class="fa fa-times fa-customized hidden" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
            </div>
           
            @*If we were going to have nav links in the header, this is where they'd go. See the header at https://dev.news.gov.bc.ca/*@
@*            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>*@
        </div>
        <div class="row" id="header-bottom">
            <div class="content">
                <div style="display:inline-block" role="banner">
                    <h1><a id="headerNewsHome" href="/">Service Billing</a></h1>
                </div>

            </div>
        </div>
    </div>
   @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Billing</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Billing - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
