@{
    ViewData["Title"] = "Unauthorized";
}

<h1 class="text-danger">Unauthorized</h1>
<h2 class="text-danger">You seem to be missing authorization to view this resource. If you believe you are receiving this message in error
    please get in touch with us. This message is missing contact info at the moment. Maybe contact Alexander.Carmichael@gov.bc.ca, and I'll try to get you sorted.'
</h2>