@using Service_Billing.ViewModels;
@model BillViewModel

<h1>Bill info</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var bill in Model.Bills)
    {
        <div>@bill.Title</div>
    }

</div>