@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if ((await AuthorizationService.AuthorizeAsync(User, "RequireFinancialOfficerRole")).Succeeded)
{
    <p>This paragraph is displayed because you're in the FO role. Good work!'.</p>
}
@if ((await AuthorizationService.AuthorizeAsync(User, "RequireOwnerRole")).Succeeded)
{
    <p>This paragraph is displayed because you're in the owner role. Good work!'.</p>
}
@if ((await AuthorizationService.AuthorizeAsync(User, "RequireUserRole")).Succeeded)
{
    <p>This paragraph is displayed because you're in the owner role. Good work!'.</p>
}
<div id='app'>
    <div>
        <h1>Count is: {{ count }}</h1>
        <br>
        <p>
            <button v-on:click="count++">Increment Count!</button>
        </p>
        <br>
    </div>
</div>

<script>
    var vueApp = new Vue({
        el: '#app',
        data: {
            count: 0
        }

    })
</script>