@{
    ViewData["Title"] = "Service-Billing Home Page";
}

<style>
    .layout {
        background: #fff;
        padding: 0 24px;
        color: #000; /* Change my color to yellow */
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px; /* Space between cards */
        padding: 20px; /* Padding around the grid */
    }

    .card {
        width: 275px;
        border: 1px solid #38598a;
        border-bottom: 12px solid #38598a;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3), inset 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
        padding: 4px;
    }
</style>

<div class="layout">
    <div class="grid-container">
        <a href="#"
           style="text-decoration: none; color: inherit">
            <div class="card">
                <h3 style="margin-bottom: 50px">
                    <strong>Create New Account</strong>
                </h3>
                <p>Create accounts for new GDX Service Billing Clients</p>
            </div>
        </a>

        <a href="#"
           style="text-decoration: none; color: inherit">
            <div class="card">
                <h3 style="margin-bottom: 50px"><strong>Manage Account</strong></h3>
                <p>Create accounts for new GDX Service Billing Clients</p>
            </div>
        </a>

        <a href="#"
           style="text-decoration: none; color: inherit">
            <div class="card">
                <h3 style="margin-bottom: 50px"><strong>View Reports</strong></h3>
                <p>Create accounts for new GDX Service Billing Clients</p>
            </div>
        </a>

        <a href="#"
           style="text-decoration: none; color: inherit">
            <div class="card">
                <h3 style="margin-bottom: 50px">
                    <strong>Manage Notifications</strong>
                </h3>
                <p>Create accounts for new GDX Service Billing Clients</p>
            </div>
        </a>

        <a href="#"
           style="text-decoration: none; color: inherit">
            <div class="card">
                <h3 style="margin-bottom: 50px">
                    <strong>View Service Billing</strong>
                </h3>
                <p>Create accounts for new GDX Service Billing Clients</p>
            </div>
        </a>

        <a href="#"
           style="text-decoration: none; color: inherit">
            <div class="card">
                <h3 style="margin-bottom: 50px">
                    <strong>Review Account Requests</strong>
                </h3>
                <p>Create accounts for new GDX Service Billing Clients</p>
            </div>
        </a>
    </div>
    <div>
        <h1>Welcome to GDX Service Billing.</h1>

        <p>This site supports GDX Billable Services including:</p>

        <ul>
            <li>WordPress hosting</li>
            <li>Analytics</li>
            <li>Orbeon Forms</li>
            <li>Other associated professional fees</li>
        </ul>

        <p>Clients may use this page to:</p>

        <ol>
            <li>Create a new account.</li>
            <li>View and manage account(s).</li>
            <li>Review quarterly billing information.</li>
            <li>Stop a service and close an account</li>
        </ol>
    </div>
</div>