@model Service_Billing.Models.ServiceCategory

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>ServiceCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GDXBusArea" class="control-label"></label>
                <input asp-for="GDXBusArea" class="form-control" />
                <span asp-validation-for="GDXBusArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costs" class="control-label"></label>
                <input asp-for="Costs" class="form-control" />
                <span asp-validation-for="Costs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="IsActive" class="control-label"></label>
                <input class="form-check-input" asp-for="IsActive" />
            </div>
            <div class="form-group">
                <label asp-for="UOM" class="control-label"></label>
                @* <input asp-for="UOM" class="form-control" /> *@
                <select asp-for="UOM" class="form-control">
                    <option value=""></option>
                    <option value="Month">Month</option>
                    <option value="Hr">Hour</option>
                    <option value="Each">Each</option>
                </select>
                <span asp-validation-for="UOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceOwner" class="control-label"></label>
                <input asp-for="ServiceOwner" class="form-control" id="owner"/>
                <div id="ownerSelect">
                </div>
                <span asp-validation-for="ServiceOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        const queryForUser = (query, contactType) => {
            var url = "../../ClientAccount/SearchForContact?query=" + query + "&contactType=" + contactType;
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var id = `#${contactType}`;
                    $(id).html(xhr.response);
                }
            };
            xhr.open('get', url);
            xhr.send();
        };

        var timer = null;

        $("#ownerSelect").on("change", (e) => {
            $("#owner").val($("#ownerValue").val());
        });


        $("#owner").on("keypress", (e) => {
            // clear timeout if already applied
            if (timer) {
                clearTimeout(timer);
                timer = null;
            }
            //  set new timeout;
            timer = setTimeout(function () {
                //  call wait-function and clear timeout
                queryForUser($("#owner").val(), "ownerSelect");
                clearTimeout(timer);
                timer = null;
            }, 250);
        });
    });
</script>
}
