@model Service_Billing.Models.ServiceCategory

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit</h1>

<h4>ServiceCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="thisForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServiceId" />
            <div class="form-group">
                <label asp-for="GDXBusArea" class="control-label"></label>
                <input asp-for="GDXBusArea" class="form-control" readonly="true" />
                <span asp-validation-for="GDXBusArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costs" class="control-label"></label>
                <input asp-for="Costs" class="form-control" id="costInput"/>
                <span asp-validation-for="Costs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" title="Charges for inactive services are not carried over to the next billing cycle, regardless of their UOM"/> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UOM" class="control-label"></label>
                @* <input asp-for="UOM" class="form-control" /> *@
                <select asp-for="UOM" class="form-control">
                    <option value=""></option>
                    <option value="Month">Month</option>
                    <option value="Hr">Hour</option>
                    <option value="Each">Each</option>
                </select>
                <span asp-validation-for="UOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceOwner" class="control-label"></label>
                <input asp-for="ServiceOwner" class="form-control" id="owner" />
                <div id="ownerSelect">
                </div>
                <span asp-validation-for="ServiceOwner" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UpdateCharges" class="form-control" id="shouldUpdate" />
        </form>
            <div class="form-group">
            <input type="submit" value="Save" onclick="checkBeforeSubmitting(@Model.ServiceId)" class="btn btn-primary" />
            </div>
        <div id="dialog" title="All Done">
            <p>This service category will be updated.</p>
            <p>Would you like to update amounts for all charges associated with this service? This cannot be undone.</p>
            <p>Prices reflected in previous quarter billings will not change.</p>
            <input type="submit" value="Just Update Service" onclick="update(false)" class="btn btn-primary" />
            <input type="submit" value="Update Charges Too" onclick="update(true)" class="btn btn-primary" />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        var _isDirty = false;
        $("#dialog").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            autoOpen: false
        });

        const offerUpdate = ((val) => {
            $("#dialog").dialog("option", "id");
            $("#dialog").dialog("open");
        });

        const update = ((val) => {
            if (val) {
                $("#shouldUpdate").val(true);
            }
            $('#thisForm').submit();
        });

        const checkBeforeSubmitting = ((val) => {
            if (_isDirty) {
                offerUpdate(val);
            } else {
                $('#thisForm').submit();
            }
        });

        $(document).ready(function () {
            
            const contactListUrl = window.location.origin + "/ClientAccount/SearchForContact";

            $("#owner").autocomplete({
                source: contactListUrl,
                delay: 500
            });

            $('#costInput').change(function(){
                _isDirty = true;
                console.log("cost changed");
            });
        });

    </script>
}
