@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container">
    <div style="display: flex; flex: 1; flex-direction: column;">
        <h1>Welcome to Service Billing</h1>
        <div class="content-header">
            <h3>Login with IDIR</h3>
        </div>
        <div class="content">
            <button class="BC-Gov-PrimaryButton">IDIR</button>
        </div>
    </div>
    <div style="padding-top: 60px;">
        <p>Need Help?<br />
            Contact:  <a href="mailto: dms@gov.bc.ca">dms@gov.bc.ca</a>
        </p>
    </div>
</div>
