html {
    font-size: 14px;
    font-family: "BC Sans" position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    font-family: "BC Sans"
}

.flex-container {
    display: flex;
    flex: 1;
    margin-top: 120px;
    padding: 10px;
}

.content-header {
    background: #336699;
    color: #fff;
    text-align: left;
    padding: 10px;
    width: 40%;
    margin-top: 10px;
}

    .content-header h3 {
        margin: 0.2rem 0;
        font-size: 1.2rem;
    }

.content {
    text-align: left;
    background: #f9f9f9;
    padding: 1em;
    border: 1px solid #ececec;
    margin-bottom: 1em;
    width: 40%;
    height: 350px;
    padding-top: 2em;
}

.BC-Gov-PrimaryButton {
    background-color: #003366;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

header {
    background-color: #036;
    border-bottom: 2px solid #fcba19;
    padding: 0 65px 0 65px;
    color: #fff;
    display: flex;
    height: 65px;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    header h1 {
        font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
        font-weight: normal; /* 400 */
        margin: 5px 5px 0 18px;
        visibility: hidden;
    }

    header .banner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 10px 0 0;
    }

        header .banner img {
            height: 50px;
        }

    header .other {
        display: flex;
        flex-grow: 1;
    }

/*
  These are sample media queries only. Media queries are quite subjective
  but, in general, should be made for the three different classes of screen
  size: phone, tablet, full.
*/

@media screen and (min-width: 600px) and (max-width: 899px) {
    header h1 {
        font-size: calc(7px + 2.2vw);
        visibility: visible;
    }
}

@media screen and (min-width: 900px) {
    header h1 {
        font-size: 2.0em;
        visibility: visible;
    }
}

footer {
    background-color: #036;
    border-top: 2px solid #fcba19;
    color: #fff;
    font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

    footer .footer-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 46px;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        color: #fff;
        list-style: none;
        align-items: center;
        height: 100%;
    }

        footer ul li a {
            font-size: 0.813em;
            font-weight: normal; /* 400 */
            color: #fff;
            border-right: 1px solid #4b5e7e;
            padding-left: 5px;
            padding-right: 5px;
        }

    footer a:hover {
        color: #fff;
        text-decoration: underline;
    }

    footer a:focus {
        outline: 4px solid #3B99FC;
        outline-offset: 1px;
    }

header a [class^="fas fa-"] {
    color: white;
    font-size: 1.4em;
    font-style: bold;
    line-height: 1;
    /* border-style: solid;
    border-width: 1px;
    border-color: #fcba19; */
    padding: 5px;
    -webkit-font-smoothing: antialiased;
}

header .nav-btn {
    display: block;
    width: auto;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.navigation-main {
    display: none;
    position: fixed;
    top: 65px;
    color: #fcba19;
    background-color: #38598a;
    width: 100%;
    -webkit-box-shadow: 0 6px 8px -4px #b3b1b3;
    -moz-box-shadow: 0 6px 8px -4px #b3b1b3;
    box-shadow: 0 6px 8px -4px #b3b1b3;
    z-index: 3;
}

    .navigation-main .nav-container {
        padding: 10px 0 10px 0;
    }

        .navigation-main .nav-container ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            color: #fff;
            list-style: none;
            margin-left: -25px;
        }

            .navigation-main .nav-container ul li {
                margin: 5px 0;
            }

                .navigation-main .nav-container ul li a {
                    display: flex;
                    font-size: 0.813em;
                    font-weight: normal; /* 400 */
                    color: #fff;
                    padding: 0 15px 0 15px;
                    text-decoration: none;
                }

                    .navigation-main .nav-container ul li a:hover {
                        text-decoration: underline;
                    }

            .navigation-main .nav-container ul .active {
                text-decoration: underline;
                font-weight: bold;
            }

:focus {
    outline: 4px solid #3B99FC;
    outline-offset: 1px;
}

/*
    These are sample media queries only. Media queries are quite subjective
    but, in general, should be made for the three different classes of screen
    size: phone, tablet, full. 
  */

@media screen and (min-width: 768px) {
    .navigation-main {
        display: block;
    }

        .navigation-main .nav-container ul {
            flex-direction: row;
        }

            .navigation-main .nav-container ul li {
                margin: 0;
            }

                .navigation-main .nav-container ul li a {
                    border-right: 1px solid #9b9b9b;
                }

    header .nav-btn {
        display: none;
        width: auto;
        margin: 0 0 0 auto;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
    header h1 {
        font-size: calc(7px + 2.2vw);
        visibility: visible;
    }
}

@media screen and (min-width: 900px) {
    header h1 {
        font-size: 2.0em;
        visibility: visible;
    }
}

main {
   padding-top: 80px;
}
/**/
.inactive-service-category {
    color: red;
}
.change-category-message {
    color: mediumorchid;
}

.text-center{
    padding-top: 100px;
}

.ui-section {
    display: inline-block;
}
.filter-options{
    display: inline-block;
}
.ui-section-buttons{

}
.option-buttons {
   float: left;   
}
.create-new-button{
    float: right;
    margin-left: 4px;
    margin-right: 4px;
}
.export-button {
    float: right;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
    margin-bottom: 6px;
}
fieldset div{
    margin-left: 4px;
}
legend{
    margin-left: 10px;
    padding-left: 10px;
    width: 15%;
    border: none;
}
#radio-buttons{
    margin-left: 4px;
    max-width: 40%;
}

label, select {
    display: inline-block;
    vertical-align: middle;
}
select {
    display: inline-block;
    margin-top: 4px;
}
.table-right {
    font-weight: bold;
    padding-right: 18px;
    text-align: right;
    padding-bottom: 4px;
}
#deactivate-client{
    float: right;
}
.bottom-nav{
    padding-top: 6px;
}
#categoryFilter{
    margin-bottom: 6px;
}
.container {
    width: 95%;
}
.report-amount {
    text-align: right;
}
.report-total-label{
    font-weight: bold;
}
.report-total {
    font-weight: bold;
    text-align: right;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.spanner {
    position: absolute;
    top: 50%;
    left: 25%;
    background: #2a2a2a55;
    width: 50%;
    border-radius: 8px;
    display: block;
    text-align: center;
    height: 300px;
    color: #FFF;
 /*   transform: translateY(-50%);*/
    z-index: 1000;
    visibility: hidden;
}
.table-loading-spanner {

/*  position: absolute;*/
    top: 62%;
    margin-left: 40%;
    background: #2a2a2a55;
    width: 25%;
    border-radius: 8px;
    display: block;
    text-align: center;
    height: 112px;
    color: #FFF;
    /*   transform: translateY(-50%);*/
  /*  z-index: 1000;*/
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
}

.table-loading-overlay {
    width: 70%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    background: rgba(0,0,0,0.5);
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

    .table-loading-spanner p {
        font-weight: bold;
        font-size: 20px;
    }

.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 50px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 3.5em;
    }

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.show {
    visibility: visible;
}
.hide {
    visibility: hidden;
}

.spanner, .overlay, .table-loading-spanner, .table-loading-overlay {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    .spanner.show, .overlay.show, .table-loading-spanner.show, .table-loading-overlay {
        opacity: 1
    }