body {
    font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
    background-color: #fff;
    color: #494949;
    font-size: 13px;
    overflow-y: scroll;
}

a {
    color: #1a5a96;
    text-decoration: none;
}

.clear {
    clear: both;
}

#header {
    background-color: #036;
}

    #header .content {
        padding: 0 30px;
    }

    #header h1 {
        color: #fff;
        margin: 10px 0;
        padding: 0;
    }

        #header h1 a,
        #header h1 a:hover {
            color: #fff;
            text-decoration: none;
        }

    #header .search {
        padding-top: 13px;
        width: 350px;
        float: right;
    }

.row div:first-child {
    padding-left: 0;
}

.row div:last-child {
    padding-right: 0;
}

#header .search input {
    border: 0 none;
    color: #494949;
    height: 25px;
    outline: 0 none;
    padding: 3px 10px 3px;
    width: 100%;
    font-size: 14px;
    font-style: italic;
}

#header .search .search-trigger {
    margin-top: -25px;
    cursor: pointer;
    height: 25px;
    position: relative;
    float: right;
    width: 25px;
    line-height: 25px;
    /*
    background-image: url(Images/search-ico.png);
    background-position: 98% center;
    background-repeat: no-repeat;
        right: 6px;
    */
}

    #header .search .search-trigger i {
        color: grey;
    }

#header-top {
    height: 65px;
    border-bottom: 2px solid #fcba19;
}

#header-bottom {
    height: 50px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

    #header-bottom h1 {
        font-size: 24px;
        font-weight: normal;
        color: #fff;
        padding-top: 13px;
        margin: 0;
    }

.content {
    min-width: 680px;
    max-width: 960px;
    margin: 0 auto;
}

#nav-container {
    position: relative;
    z-index: 10;
    background-color: #38598a;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

    #nav-container .content {
        padding: 0 30px;
    }

    #nav-container .shadow-box {
        -webkit-box-shadow: inset 0px 3px 5px 0 rgba(0, 0, 0, 0.2);
        -ms-box-shadow: inset 0px 3px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 3px 5px 0 rgba(0, 0, 0, 0.2);
    }

    #nav-container .nav {
        font-size: 13px;
        position: relative;
    }

        #nav-container .nav li {
            padding: 0;
            margin: 0;
        }

            #nav-container .nav li.active {
                background-color: white;
                border-right: 1px solid #ffffff;
            }

                #nav-container .nav li.active a {
                    color: #494949;
                }

                #nav-container .nav li.active + li a {
                    border-left: none;
                }

            #nav-container .nav li:first-child a {
                padding-left: 0;
            }

            #nav-container .nav li a {
                padding: 11px 13px 7px;
                margin: 9px 0;
                display: block;
                border-left: 1px solid #fff;
                border-left: 1px solid rgba(255, 255, 255, 0.3);
                text-decoration: none;
                font-size: 14px;
            }

            #nav-container .nav li:first-child a {
                border-left: none;
            }

            #nav-container .nav li a.has-menu::after {
                content: url(Images/icon-down-arrow.png);
                margin-left: 5px;
                top: -1px;
                position: relative;
            }

            #nav-container .nav li.active a.has-menu::after {
                content: url(Images/icon-down-arrow-invert.png);
                margin-left: 5px;
                top: 1px;
                position: relative;
                display: inline-block;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }


.inactive-service-category{
    color: red;
}
.change-category-message{
    color: mediumorchid;
}
