
@model BillEntryViewModel
@{

}

<div id='app'>
    <h1>Bill Stuff here</h1>
    @Html.ActionLink("create new bill", "New", "Billing")

</div>

<script>
    var modelJson = @Html.Raw(Json.Serialize(@Model));
    var vueApp = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            model: modelJson
        }
    })
</script>